

<div style="text-align: center;margin: 5%;">
  <button  class="btn btn-warning" [title]="(num<=0) ? '' : fileName[num-1]" [disabled]="num<=0" (click)="prev()"><i class="fas fa-arrow-alt-circle-left fa-lg"></i>&nbsp;Prev</button>&nbsp;&nbsp;
  <span style="font-weight: bold;"><tr>{{num+1}}/{{fileName.length}}</tr><tr>{{fileName[num]}}</tr></span>&nbsp;&nbsp;
    <button  class="btn btn-warning" [title]="(num>=fileName.length-1) ? '' : fileName[num+1]" [disabled]="num>=fileName.length-1" (click)="next()">Next&nbsp;<i class="fas fa-arrow-alt-circle-right fa-lg"></i></button >
    <ngx-spinner color="#8B008B" size="large" type="ball-clip-rotate-pulse"></ngx-spinner>
    &nbsp;&nbsp;
    <button mat-mini-fab color="primary" (click)="addTextbox()" title="Add textbox">
      <span class="material-icons" style="font-size: 18px;width: 12px;">
      text_fields
      </span><i class="fas fa-plus fa-xs" style="vertical-align: 100%;"></i>
    </button>&nbsp;
    <button mat-mini-fab color="primary" (click)="addLabel()" title="Add label">
      <span class="material-icons" style="font-size: 18px;width: 12px;">
      label
      </span><i class="fas fa-plus fa-xs" style="vertical-align: 100%;"></i>
    </button>&nbsp;
    <button mat-mini-fab color="primary" (click)="addDropdown()" title="Add dropdown">
      <i class="far fa-caret-square-down" style="font-size: 15px;width: 12px;"></i>
    <i class="fas fa-plus fa-xs" style="vertical-align: 100%;"></i>
    </button>&nbsp;
    <button mat-mini-fab color="primary" (click)="addCalendar()" title="Add calendar">
      <i class="far fa-calendar-alt" style="font-size: 15px;width: 12px;"></i>
    <i class="fas fa-plus fa-xs" style="vertical-align: 100%;"></i>
    </button>&nbsp;
    <button mat-mini-fab color="primary" (click)="addButton()" title="Add button">
      <span class="material-icons" style="font-size: 22px;width: 16px;">
        smart_button
        </span>
    <i class="fas fa-plus fa-xs" style="vertical-align: 100%;"></i>
    </button>&nbsp;

    <app-sample style="text-align: center;" [data]="content"></app-sample><br/>
  
  <button class="btn btn-success" (click)="save()"><i class="fas fa-save fa-lg"></i>&nbsp;Save</button>
  </div>