.content{
    width: 96%;
    height: 510px;
    text-align: center;
    overflow: auto;
    margin: 1%;
    /* cursor: url('../../assets/filled-cross-hair.png'),auto; */

}
.sample {
  position: absolute;
  right: 15%;
  top: 15%;
  width: fit-content;

}

.li:hover {
  background-color: lightgreen;
}

.sample1 {
  position: absolute;
  right: 9%;
  /* bottom: 20%; */
  width: fit-content;
}

.example-container {
  position: absolute;
  border: 1px solid black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ng-draggable {
    cursor: grab;
  }
   
  .ng-dragging {
    cursor: grabbing;
  }
