<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="open" style="width: 350px;">
      <i class="fas fa-window-close fa-lg" (click)="close()" style="color: red;float: right;cursor: pointer;margin:10px;"></i>
      <br/>
      <h5 *ngIf="elementProps['name']!=undefined"><b><u>{{elementProps['name']}}&nbsp;({{elementProps['id']}})</u></b></h5>
      <div *ngIf="elementProps">
          <!-- <mat-form-field *ngIf="elementProps['style']!=undefined" appearance="outline" title="Change style property of the element" style="width: 300px;">
            <mat-label>Style</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="20" 
                      [(ngModel)]="elementProps['style']" (ngModelChange) = "propertySet(elementProps['id'])"></textarea>
          </mat-form-field> -->

          <form *ngIf="elementProps['style']!=undefined" class="p-3">
            <fieldset class="border rounded p-2">
              <legend class="w-auto h6 font-weight-bold text-left">&nbsp;Style 
                <i class="fas fa-plus-circle" data-toggle="modal" data-target=".bd-example-modal-sm" 
                style="cursor: pointer;" title="Add property" (click)=" property.value = ''; value.value = '';"></i>&nbsp;
              </legend>
              <span class="p-2" *ngFor="let item of styleProps; let i = index;">
              <mat-form-field appearance="outline" title="Change style property of the element" style="width: 100px;">
                <mat-label>{{item}}</mat-label>
                <input matInput [name]="'value'+i" 
                [(ngModel)] = "elementProps['style'][item]" 
                (ngModelChange) = "propertySet(elementProps['id'])">
              </mat-form-field>
              <i class="fas fa-times" title="Click to remove property" (click)="deleteStylePropsrty(item)" style="color: red;cursor: pointer; vertical-align: 200%;"></i>
              </span>
            </fieldset>
          </form>
          
          <mat-form-field *ngIf="elementProps['class']!=undefined" appearance="outline" title="Change class property of the element"  style="width: 300px;">
            <mat-label>Class</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="20" 
                      [(ngModel)]="elementProps['class']" (ngModelChange) = "propertySet(elementProps['id'])"></textarea>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['title']!=undefined" appearance="outline" title="Change title(tooltip) property of the element"  style="width: 300px;">
            <mat-label>Title</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="20" 
                      [(ngModel)]="elementProps['title']" (ngModelChange) = "propertySet(elementProps['id'])"></textarea>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['pattern']!=undefined" appearance="outline" title="Change regex pattern property to accept input of the element"  style="width: 300px;">
            <mat-label>Pattern</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="20" 
                      [(ngModel)]="elementProps['pattern']" (ngModelChange) = "propertySet(elementProps['id'])"></textarea>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['src']!=undefined" appearance="outline" title="Change source property of the image"  style="width: 300px;">
            <mat-label>src</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="20" 
                      [(ngModel)]="elementProps['src']" (ngModelChange) = "propertySet(elementProps['id'])"></textarea>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['href']!=undefined" appearance="outline" title="Change href property of the link"  style="width: 300px;">
            <mat-label>href</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="20" 
                      [(ngModel)]="elementProps['href']" (ngModelChange) = "propertySet(elementProps['id'])"></textarea>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['type']!=undefined && elementProps['name']=='Textbox'" appearance="outline" title="Change input type of the element"  style="width: 300px;">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="elementProps['type']" (ngModelChange) = "propertySet(elementProps['id'])">
              <mat-option value="text">Text</mat-option>
              <mat-option value="number">Number</mat-option>
              <mat-option value="password">Password</mat-option>
              <mat-option value="email">Email</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['type']!=undefined && elementProps['name']=='Button'" appearance="outline" title="Change input type of the element"  style="width: 300px;">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="elementProps['type']" (ngModelChange) = "propertySet(elementProps['id'])">
              <mat-option value="button">Button</mat-option>
              <mat-option value="reset">Reset</mat-option>
              <mat-option value="submit">Submit</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['formaction']!=undefined" appearance="outline" title="Change formaction property of the button"  style="width: 300px;">
            <mat-label>formaction</mat-label>
            <textarea matInput placeholder="eg: http://localhost:8080/sample"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="20" 
                      [(ngModel)]="elementProps['formaction']" (ngModelChange) = "propertySet(elementProps['id'])"></textarea>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['formmethod']!=undefined" appearance="outline" title="Change formmethod property of button"  style="width: 300px;">
            <mat-label>formmethod</mat-label>
            <mat-select [(ngModel)]="elementProps['formmethod']" (ngModelChange) = "propertySet(elementProps['id'])">
              <mat-option value="post">POST</mat-option>
              <mat-option value="get">GET</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['formtarget']!=undefined" appearance="outline" title="Change formtarget property of button"  style="width: 300px;">
            <mat-label>formtarget</mat-label>
            <mat-select [(ngModel)]="elementProps['formtarget']" (ngModelChange) = "propertySet(elementProps['id'])">
              <mat-option value="_blank">_blank</mat-option>
              <mat-option value="_self">_self</mat-option>
              <mat-option value="_parent">_parent</mat-option>
              <mat-option value="_top">_top</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['target']!=undefined" appearance="outline" title="Change target property of link"  style="width: 300px;">
            <mat-label>Target</mat-label>
            <mat-select [(ngModel)]="elementProps['target']" (ngModelChange) = "propertySet(elementProps['id'])">
              <mat-option value="_blank">_blank</mat-option>
              <mat-option value="_self">_self</mat-option>
              <mat-option value="_parent">_parent</mat-option>
              <mat-option value="_top">_top</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['pname']!=undefined" appearance="outline" title="Change name property of the element"  style="width: 300px;">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)] = "elementProps['pname']" (ngModelChange) = "propertySet(elementProps['id'])">
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['value']!=undefined" appearance="outline" title="Change value property of the element"  style="width: 300px;">
            <mat-label>Value<span *ngIf="elementProps['name']=='Calendar'">(YYYY-MM-DD)</span></mat-label>
            <input matInput [(ngModel)] = "elementProps['value']" (ngModelChange) = "propertySet(elementProps['id'])">
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['max']!=undefined" appearance="outline" title="Change max date property of the element"  style="width: 300px;">
            <mat-label>Max Date(YYYY-MM-DD)</mat-label>
            <input matInput [(ngModel)] = "elementProps['max']" (ngModelChange) = "propertySet(elementProps['id'])">
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['min']!=undefined" appearance="outline" title="Change min date property of the element"  style="width: 300px;">
            <mat-label>Min Date(YYYY-MM-DD)</mat-label>
            <input matInput [(ngModel)] = "elementProps['min']" (ngModelChange) = "propertySet(elementProps['id'])">
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['alt']!=undefined" appearance="outline" title="Change alt property of the element"  style="width: 300px;">
            <mat-label>Alt text</mat-label>
            <input matInput [(ngModel)] = "elementProps['alt']" (ngModelChange) = "propertySet(elementProps['id'])">
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['width']!=undefined" appearance="outline" title="Change width property of the element"  style="width: 300px;">
            <mat-label>Width</mat-label>
            <input matInput [(ngModel)] = "elementProps['width']" (ngModelChange) = "propertySet(elementProps['id'])" type="number">
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['height']!=undefined" appearance="outline" title="Change height property of the element"  style="width: 300px;">
            <mat-label>Height</mat-label>
            <input matInput [(ngModel)] = "elementProps['height']" (ngModelChange) = "propertySet(elementProps['id'])" type="number">
          </mat-form-field>

          <mat-form-field *ngIf="elementProps['placeholder']!=undefined" appearance="outline" title="Change placeholder property of the element"  style="width: 300px;">
            <mat-label>Placeholder</mat-label>
            <input matInput [(ngModel)] = "elementProps['placeholder']" (ngModelChange) = "propertySet(elementProps['id'])">
          </mat-form-field>

          <br *ngIf="elementProps['readonly']!=undefined"/>
          <mat-slide-toggle *ngIf="elementProps['readonly']!=undefined" title="Click to make element readonly"
           [(ngModel)]="elementProps['readonly']" (ngModelChange) = "propertySet(elementProps['id'])" >ReadOnly</mat-slide-toggle>
          <br *ngIf="elementProps['multiple']!=undefined"/>
          <mat-slide-toggle *ngIf="elementProps['multiple']!=undefined" title="Click to make multiple selection on the dropdown"
           [(ngModel)]="elementProps['multiple']" (ngModelChange) = "propertySet(elementProps['id'])" >Multiple</mat-slide-toggle>
          <br *ngIf="elementProps['required']!=undefined"/>
          <mat-slide-toggle *ngIf="elementProps['required']!=undefined" title="Click to make element required" 
          [(ngModel)]="elementProps['required']" (ngModelChange) = "propertySet(elementProps['id'])" >Required</mat-slide-toggle>
          <br/><br/>
          <!-- <button *ngIf="elementProps" mat-raised-button color="primary" (click)="propertySet(elementProps['id'])">Modify</button> -->
          </div>
          <!-- <br/><br/> -->
  </mat-sidenav>

  <mat-sidenav-content>
      <div *ngIf="data" #p3x class="content" [p3x-compile]="data" 
      [p3x-compile-ctx]="this"
      [p3x-compile-error-handler]="handleCompileErrorHandler"
      [p3x-compile-module]="dataModule"></div>
  </mat-sidenav-content>
</mat-sidenav-container>


<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu  #contextMenu="matMenu">
  <ng-template matMenuContent let-src="src" style="text-align: center;">
          <input *ngIf="dropdownValidate(src)" [(ngModel)]="option" mat-menu-item placeholder="option">
         
          <mat-chip-list *ngIf="dropdownValidate(src)">
              <mat-chip  *ngFor="let op of ddOptions; index as i">{{op}}&nbsp;<i class="fas fa-times-circle" style="color: red;cursor: pointer;" title="Click to remove option" (click)="deleteOption(src,i)"></i></mat-chip>&nbsp;
          </mat-chip-list><br *ngIf="dropdownValidate(src)" />

          <button *ngIf="dropdownValidate(src)" mat-stroked-button color="primary" title="Click to add option" (click)="addOption(src)">Add</button>
          <button *ngIf="true" mat-menu-item (click)="propertyGet(src);" title="Click to modify properties of element">Properties</button>
  </ng-template>
</mat-menu>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content p-2">
      
      <span class="float-right">
        <span class="h6 font-weight-bold" style="text-align: center;">Property</span>
      <i class="fas fa-window-close fa-lg" data-dismiss="modal" style="color: red;float: right;cursor: pointer;margin:10px;"></i>
      </span>
      <mat-form-field appearance="outline" style="width: 200px;">
        <mat-label>Name</mat-label>
        <input matInput type="text" name = "property" #property>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 200px;">
        <mat-label>Value</mat-label>
        <input matInput type="text" name ="value" #value>
      </mat-form-field>
      <span style="text-align: center;"> 
      <button mat-raised-button color="primary" style="width:120px;" 
      [disabled]="property.value =='' || value.value == ''"
      data-dismiss="modal" (click) = "addStyleProperty(property.value,value.value)">Add Property</button>
      </span>
    </div>
  </div>
</div>

